a, u {
    text-decoration: none !important;   
}

.recipe-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }

.short-card-index card{
  width: 16rem; 
  max-height: 16rem;

}

.carousel-image{
  max-width: auto;
  max-height: 500px;
}
  
  h1, .h1, h2, .h2,  h3, .h3,  h4, .h4,  h5, .h5,  h6, .h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }

  h1, .h1 {
    font-size: 1.5rem;
  }
  
  h2, .h2 {
    font-size: 1.3rem;
  }
  
  h3, .h3 {
    font-size: 1.0rem;
  }
  
  h4, .h4 {
    font-size: 0.9rem;
  }

  h5, .h5 {
    font-size: 0.8rem;
  }
  
  h6, .h6 {
    font-size: 0.7rem;
  }

  html,body{
    height: 100%
}
