html,body{
    height: 100%
  }
  
  .short-card-index card{
    width: 16rem; 
    max-height: 16rem;
  
  }
  .carousel-image{
    max-width: auto;
    max-height: 500px;
  }
  
  hr{
    opacity: 0.4 !important;
    margin: 0.5rem !important;
  }

  /* Size for headings */
h1, .h1, h2, .h2,  h3, .h3,  h4, .h4,  h5, .h5,  h6, .h6 {
      font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    }
  
    h1, .h1 {
        font-size: 1.5rem;
      }
      
      h2, .h2 {
        font-size: 1.4rem;
      }
      
      h3, .h3 {
        font-size: 1.3rem;
      }
      
      h4, .h4 {
        font-size: 1.2rem;
      }
    
      h5, .h5 {
        font-size: 1.1rem;
      }
      
      h6, .h6 {
        font-size: 1.0rem;
      }
   
      a, u, li, p {
        text-decoration: none !important; 
        font-size: 1.0rem;
      }

      .navbar-toggler:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }