<nav class="navbar recipebox-navbar-bg">
  <div class="container">
    <a href="/" class="nav-brand"> {{.Site.Title}} </a>

<!-- Menu buttom, each folder there will be a category there -->
    <button id="menu-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-folder2 recipebox-navbar-icon"></i>
    </button>

    <div class="collapse navbar-collapse navbar-button" id="navbarNav">
      <ul class="navbar-nav mx-3">
    <!-- Now we loop over the folder structure below recipes -->
        {{ range .Site.Menus.main }}
          {{if .Params.hr}}
          <hr class="recipebox-hr">
          {{end}}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ .URL }}">{{.Title}}</a>
            </li>
        {{end}}  
      </ul>
    </div>
    
    
  </div>  
</nav>


