   <!-- Card -->
   <div class="card recipebox-card-bg" id="print_with_figures">
    <!-- Header of the card -->
    <div class="card-header  recipebox-card-header recipebox-card-header-bg h5">
        <div class="row px-1">
            <div class="d-flex align-items-center"> 
              {{ .Params.mainCategory }}
             
            </div>
        </div> 
      </div>
    
    
    <!-- Card featured image -->
    <!-- {{if .Page.Params.images}} -->
    <!-- <figure class="figure"> -->
      <!-- <img src= "{{index (.Page.Params.images) 0}}"  class="card-img-top figure-img img-fluid" alt=""> -->
    <!-- </figure> -->
    <!-- {{else}} -->
    <!-- No image -->
    <!-- {{end}} -->

    <div id="print_no_figures">
      <!-- Recipe title -->
      <h1 class="p-3 text-center recipebox-card-bg">{{ .Title }}</h1>
      <div class="card-body recipebox-card-bg">  
      <!-- Properties -->
        <div class="row p-3">
          <div class="row recipebox-card-properities">
            {{.Site.Params.totalTime}}:  {{.Params.totalTime}}
          </div>
          <div class="row recipebox-card-properities">
            {{.Site.Params.preparationTime}}: {{.Params.preparationTime}}
          </div>
          <div class="row recipebox-card-properities">
            {{.Site.Params.portions}}: {{.Params.portions}}
          </div>
        </div>

      <!-- Markdown content -->
            {{ .Content }}


      </div><!--End card body -->  
  </div><!--End printable area -->

  <!-- Gallery of images - outside print area-->
  {{- partial "carousel.html" . -}}


  <!-- Print button -->

  <div class="row px-2">
    <button type="button" class="btn " onclick="printDiv('print_no_figures')">
      <i class="bi bi-printer recipebox-card-icon"></i>
  </button>
  </div>

  </div><!--End card -->