<div class="col-md-4 p-3"> 
    <div class="card shortCard">
        <div class="card-header">
            {{ .Params.mainCategory}}
        </div>

        {{if .Params.images}}
            {{ $featuredImage := index (.Params.images) 0 }}
            <img src="{{ $featuredImage}}" class="card-img-top" alt="{{.Params.title}}">
        {{end}}
        
        <div class="card-body">
            <h5 class="card-title"> {{ .Params.title }} </h5>
            <p class="card-text">{{.Params.summary}}</p>
            <div class="row">
                <div class="col">
                    <a href={{ .Permalink }} class="btn btn-light">{{.Site.Params.detailsCard}}</a> 
                </div>
                
            </div>
              
        </div>
    </div>
</div>